# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cordova
platforms/
plugins/

# Android / Gradle
.gradle/
local.properties
*.iml
*.apk
*.ap_

# iOS (se algum dia usar)
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/

# Sistema / Editor
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/

# Backup / temporários
*.swp
*.swo
*.tmp
